{% extends 'material/base_al.html' %}
{% load material_form %}
{% block content %}
{% include 'material/includes/material_css.html' %}
 {% if submit_status == False %}
    <script type="text/javascript" src="/static/js/ajaxm.js"></script>
    {% endif %}
{% if submit_status == False %}
<div class="mdl-grid demo-content">
		<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
           <h5 style="">INSTRUCTIONS</h5><br>
           <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
            
           
        
              <div class="mdl-card__actions mdl-card--border">
             {% for a,b in instructions %}
			   <h6>{{a}}){{b}}</h6>
			   {% endfor %}

              </div>
            </div>
   

          </div>

          <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
           
              <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
           
                <h2 class="mdl-card__title-text">____________________Add Courses_________________</h2>
                
              </div>
              <div id="show_add" class="mdl-card__supporting-text mdl-color-text--grey-600">
              	<form method="POST" id="add_form" action="">
			        {% csrf_token %}
			        Available Courses<br>
				      <select name="add_courses" id="add">
				      {% for i in courses %}      
				        <option value="{{i.class_nbr}}">{{i.course_title}}</option>
				      {% endfor %}
				        </select>
			        {% form form=avail %}{% endform %}
			        <button type="submit" name="_submit" class="btn">ADD</button>
    			</form>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" id="add_button" class="mdl-button mdl-js-button mdl-js-ripple-effect">View Courses</a>

              </div>
            </div>
            </div>
          <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
           	
            </div>
            </div>
            <div id="status" class="demo-charts mdl-color-text--transparent mdl-shadow--1dp mdl-cell mdl-cell--12-col mdl-grid">
          
          </div>
            </div>
 </div>
  {% else %}
  <div class="mdl-card__title mdl-card--expand mdl-color--white-300">
      <h2 >You have already submitted.Please Contact ARC for any help.</h2>
      </div>
    {% endif %}
{% endblock %}