{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ARC|Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="/static/img/favicon.png">
 <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>


</head>
<body style="background-color:#F7F7F7;">
<noscript><h1>Please Enable JavaScript</h1></noscript>


<div class="container" align="center">
  
<h1>BITS Pilani Goa Campus, ARC Registration</h1>
  <!-- Trigger the modal with a button -->
  
         {% block content %}
         {% endblock %}
         </div>
        
  <div class="container" align="center">
  <img class="img-responsive" src="/static/img/logo.png">
  </div>
  
</div>

</body>
</html>

